<div class="container-fluid">
  <div class="bookmarks-container">

    <div>

      <h2>Adicionar cidade aos favoritos</h2>
      <app-cities-typeahead [formControl]="searchTypeaheadControl"></app-cities-typeahead>

      <div class="mt-4" *ngIf="!(bookmarks$ | async).length">Nenhum favorito adicionado</div>

      <ul class="list-unstyled mt-4">
        <li *ngFor="let bookmark of bookmarks$ | async">
          <a [routerLink]="['../details']"
             [queryParams]="{lat: bookmark.coord.lat, lon: bookmark.coord.lon}">
            {{ bookmark.name }}
          </a>
          <button class="btn btn-outline-dark btn-sm ml-1"
                  (click)="removeBookmark(bookmark.id)">remover</button>
        </li>
      </ul>

    </div>

   

  </div>
</div>
